.header {
position: fixed;
  top: 0;
  right: 10px;
  left: -20px;
  width: 100%;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #e8f1f2;
  padding: 20px 40px;
  font-family: Arial, sans-serif;
}

.left-section {
  display: flex;
  align-items: center;
}

button {
  all: unset;
  font-size: 24px;
  cursor: pointer;
  user-select: none;
  line-height: 1;
  color: black
}

.logo {
display: flex;
align-items: center;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  font-size: 30px;
  font-weight: bold;
  color: #1c4da3;
  font-family: sans-serif;
}

.right-section {
  display: flex;
  align-items: center;
  gap: 20px;
  padding-right: 40px;
}

.account, .cart {
  display: flex;
  align-items: center;
  cursor: pointer;
  color: black;
}


.cart-count{
width: 18px;
height: 18px;
display: flex;
justify-content: center;
align-items: center;
margin-top: -35px;
margin-left: -8px;
border-radius: 11px;
font-size: 11px;
background: red;
color: white;
}

.login button {
width: 100px;
height: 30px;
outline: none;
border: 1px;
border-color: #1c4da3;
border-radius: 75px;
color: #515151;
font-size: 15px;
font-weight: 300;
background: white;
cursor: pointer;
font-family: sans-serif;
}

.login button:active {
background: #f3f3f3;
}