.newsletter{
width: 100%;
min-height: 30vh;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
margin: 0 auto;
padding: 30px 20px;
margin-bottom: 0px;
background: linear-gradient(180deg, #e1ffea22 0%, #1c4da3  70%);
gap: 10px;
}

.newsletter h2{
color: #454545;
font-size: 30px;
color: white;
font-weight: 600;
}

.newsletter p{
color: #e8f1f2;
font-size: 20px;
text-align: center;
}

.newsletter div{
display: flex;
  align-items: center;
  background: white;
  width: 530px;
  height: 50px;
  border-radius: 80px;
  border: 1px solid #e3e3e3;
  overflow: hidden;
}

.newsletter input{
  flex: 1;
  padding-left: 30px;
  border: none;
  outline: none;
  font-size: 16px;
  font-family: sans-serif;
  color: #616161;
}

.newsletter div button{
  height: 100%;
  padding: 0 25px;
  border: none;
  background: #de3525;
  color: white;
  font-size: 16px;
  font-family: sans-serif;
  border-radius: 80px; /* 👈 mantém o botão redondo */
  cursor: pointer;
  white-space: nowrap;
}

.newsletter div button:active {
  background-color: #163b82;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
